@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    background-image: linear-gradient(180deg, rgba(247,247,247,1) 23.8%, rgba(252,221,221,1) 92%);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.results {
    display: flex;
    align-items: center;
    justify-content: center;
}

.result {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 400px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.result img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.selections {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selection {
    background-color: darksalmon;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    cursor: pointer;
}

.selection:focus {
    outline: none;
}

/* .heart-icon {
    fill: red;
    width: 24px;
    height: 24px;
} */

.heart-icon {
    fill: rgb(18, 19, 18); /* Default color */
    width: 24px;
    height: 24px;
    transition: fill 0.3s ease; /* Smooth transition */
}

.red-heart {
    fill: red; /* Red color */
}


.favorite-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}